﻿@model SuperDuperMarket.Models.Branch

@{
    ViewData["Title"] = "Details";
}


<h2>Details</h2>

<div class="row">
    <div class="col-lg-12">
        <h4>Branch</h4>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ZipCode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ZipCode)
            </dd>
        </dl>
    </div>
    <div class="col-lg-6">
        <div id="map"></div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<!--The div element for the map -->

<script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var locations = @Html.Raw(ViewData["branches"]);
        initBranchesMap(locations);
    }
</script>
<script src=@Html.Raw(ViewData["mapsUrl"])></script>