﻿@model IEnumerable<SuperDuperMarket.Models.Branch>
@using System.Security.Claims
@{
    ViewData["Title"] = "Index";
}

@{
    var a = ViewData["branches"];
}


<h1>Branches</h1>
@if ((int)Model.Count() == 0)
{
    <hr />
    <h4>No Branches to show</h4>
    <a asp-controller="Branches">Show all Branches </a>
}
else
{

    @if (Context.User.HasClaim(ClaimTypes.Role, "Admin"))

    {
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    }
    <form asp-controller="Branches" asp-action="Index">
        <div class="input-group" style="width: 50%">
            <label class="input-group-addon">Address or Name: </label>
            <input type="text" class="form-control" name="searchNameOrAddress">
            <div class="input-group-btn">
                <input type="submit" class="btn btn-danger" value="Filter" />
            </div>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </th>
                <th>
                    Weather
                </th>
                @if (Context.User.HasClaim(ClaimTypes.Role, "Admin"))
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var id = ("weather" + item.Id);
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>
                    <td id="@id"></td>
                    @if (Context.User.HasClaim(ClaimTypes.Role, "Admin"))
                    {
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <div id="map"></div>
    <script>
    // Initialize and add the map
    function initMap() {
        var locations = @Html.Raw(ViewData["branches"]);
        initBranchesMap(locations);
    }
    </script>
    <script src=@Html.Raw(ViewData["mapsUrl"])></script>
    <script>
    var locations = @Html.Raw(ViewData["branches"]);

function getWeather(lon,lat,id) {
    $.ajax({
        method: 'get',
        url: `/api/additionalservice/weather/getweather?lon=${lon}&lat=${lat}`,
        success: (data) => {
            console.log(data)
            document.getElementById('weather' + id).append(JSON.stringify(data));
        }
    })
}
    function addWeather() {
          for (var i = 0; i < locations.length; i++) {
              getWeather(locations[i]["lng"],locations[i]["lat"],locations[i]["id"])
              }
    }

    window.onload = function() {
    addWeather()
    }
    </script>
}

