﻿/* Set the size of the div element that contains the map */
#map {
    height: 300px; /* The height is 400 pixels */
    min-width: 300px!important;
    width: 100%!important; /* The width is the width of the web page */
}
