﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


.carousel-inner .item img {
    width: 100%;
    max-height: 300px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.hide {
    display: none;
}

.image-cart {
    width: 50px!important;
    height: 50px!important;
    border-radius: 50%!important;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.image-order {
    width: 35px;
    height: 35px;
}

.quantity {
    width: 45px;
    margin-left: 45px;
    margin-bottom: 3px;
}

.btn-centered {
    text-align: center;
    display: block;
}

.img-wrapper {
    overflow: hidden;
    display: inline-block;
}

.thumbnail img {
    height: 150px;
    width: 100%;
}



.thumbnail.order {
    height: 500px;

}

.thumbnail.product {
    height: 320px;
}
p {
    word-wrap: break-word;
}
.thumbnail.product img {
    height: 100px;
    object-fit: cover;
    transition: transform .9s;
}
.thumbnail.product img:hover {
    transform: scale(1.5);
}

@font-face {
    font-family: sdmFont;
    src: url(/fonts/comic-sans.woff);
}

.inner {
    padding-right: 0;
    padding-left: 0;
}

.outter {
    padding-right: 0px;
    padding-left: 0px;
}
.buttons-row {
    position: absolute;
    bottom: 25px;
    max-width: 75%;
    margin-bottom: 5px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
        text-shadow: 10px 10px #eb6864;
    }
}


.product-title {
    color:black;
    background-color: #AAAA;
}

.product-title a {
    color: black;
}

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #eb6864;
    font-style: italic;
    color: #eb6864;
    font-family: sdmFont;
}

aside > p {
    margin: .5rem;
    text-shadow: 2px 2px red;
}
