﻿@model Tuple<Dictionary<String, Tuple<Product, int>>, List<Branch>>
@{
    ViewData["Title"] = "Cart";
}

<br />
<h1>My Cart</h1>
<hr />
@if (Model.Item1.Count == 0)
{
    <div class="alert alert-info">
        <h3>Nothing in cart.</h3>
        <h4>Add items to cart <a asp-controller="Products">here</a></h4>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-6">

            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                @foreach (var key in Model.Item1.Keys)
                {
                    <tr>
                        <td><img class="image-cart" src="@Url.Content(Model.Item1[key].Item1.ImagePath)" /> @Model.Item1[key].Item1.Name</td>
                        <td>@Model.Item1[key].Item2</td>
                        <td>@(Model.Item1[key].Item1.Price)₪ X @Model.Item1[key].Item2 = @(Model.Item1[key].Item1.Price * Model.Item1[key].Item2)₪</td>
                        <td><button class="btn btn-danger" onclick="removeCookie(@key); location.reload();">Delete</button></td>
                    </tr>
                }
            </table>


        </div>
        <div class="col-md-6">
            <div class="thumbnail" style="padding:15px">
                <h3>Finish your order</h3>
                <hr />
                <form action="addtocart/order" method="post">
                    <div class="form-group">
                        <select class="form-control" name="branchId">
                            @foreach (Branch branch in Model.Item2)
                            {
                                <option value="@branch.Id">@branch.Name</option>
                            }
                        </select>
                    </div>
                    <button class="btn btn-success" type="submit">Buy Now!</button>
                    <a class="btn btn-danger rigth" onclick="clearCookies(); location.reload();">Clear Cart!</a>
                </form>
            </div>
        </div>
    </div>
}