﻿@model SuperDuperMarket.Models.Order
<br />
<div class="alert alert-success">
    <h4>The order was successfully added! </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            #Order
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Branch.Name)
        </dd>
    </dl>
</div>