﻿@model IEnumerable<SuperDuperMarket.Models.Product>


<div id="featuredCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#featuredCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#featuredCarousel" data-slide-to="1"></li>
        <li data-target="#featuredCarousel" data-slide-to="2"></li>
        <li data-target="#featuredCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/supermarket1.jpeg"  class="img-responsive" />
            <div class="carousel-caption" role="option">
                <h3>
                    Our Featured Products
                </h3>
            </div>
        </div>
        @foreach (var item in Model)
        {
        <div class="item">
            <img src="@Url.Content(item.ImagePath)" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <br />
                <div class="product-title">
                <a asp-controller="Products" asp-action="Details"  asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a> <br />
                Just @Html.DisplayFor(modelItem => item.Price) NIS</div>
            </div>
        </div>
        }
    </div>
    <a class="left carousel-control" href="#featuredCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#featuredCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>