﻿@model ProductsViewModel
@using System.Security.Claims

<script>
    $(document).ready(function () {
        $(".add-to-cart").click(function () {
            var quantity = $("#quantity" + this.id)[0].value
            var product = this.id
            setCookie("SDSC" + product.toString(), quantity.toString(), 0.1)
            productRegister(this.id)
        })


        function productRegister(id) {
            var registery = getCookie("SDregistery")
            if (registery == null || registery == "") {
                registery = id;
            } else {
                var alreadyIn = false
                var ids = registery.split('~');
                for (var i = 0; i < ids.length && alreadyIn == false; i++) {
                    var c = ids[i];
                    if (c == id) {
                        alreadyIn = true
                    }
                }
                if (!alreadyIn) {
                    registery = registery.concat('~' + id)
                }
            }

            setCookie("SDregistery", registery)
        }
    })</script>

<br />
<h1>Catalog</h1>
<hr />

<div class="row">
    <div class="col-lg-3">
        <div class="thumbnail">
            <form asp-controller="Products" asp-action="Index">
                <h5>Filter</h5>
                <div class="input-group input-group-sm">
                    <label class="input-group-addon">Name:</label>
                    <input class="form-control" type="text" name="searchName">
                </div>
                <div class="input-group input-group-sm">
                    <label class="input-group-addon">Category:</label>
                    <input class="form-control" type="text" name="searchCategory">
                </div>
                <div class="input-group input-group-sm">
                    <label class="input-group-addon">Price:</label>
                    <input class="form-control" type="number" step="0.1" min="0" value="0" name="searchMinPrice">
                    <label class="input-group-addon">-></label>
                    <input class="form-control" type="number" step="0.1" min="0" value="0" name="searchMaxPrice">
                </div>
                <input class="btn btn-primary form-control" type="submit" value="Filter" />
            </form>

            <br />
            @if (User.Identity.IsAuthenticated && User.HasClaim(ClaimTypes.Role, "Admin"))
            {
                <a asp-action="Create" class="btn btn-success right" role="button">Create New</a>
            }
        </div>
    </div>
    <div class="col-lg-9 outter">
        <div class="thumbnails" id="thumbnails">
            @if (Model.RecommenededCategory != "")
            {
                <h3>Because you liked @(Model.RecommenededCategory)...</h3>
                <div class="row">
                    @foreach (Product product in Model.Recommended)
                    {
                        <div class="col-md-3" data-category="@Html.DisplayFor(modelItem => product.Category)">
                            <div class="thumbnail product">
                                <div class="img-wrapper">
                                    <img src="@Url.Content(product.ImagePath)">
                                </div>
                                <div class="caption">
                                    <div class="badge">@Html.DisplayFor(modelItem => product.Category)</div>
                                    <h4>
                                        <a asp-action="Details" asp-route-id="@product.Id">@Html.DisplayFor(modelItem => product.Name) <small>@Html.DisplayFor(modelItem => product.Price)₪</small></a>
                                    </h4>
                                    <p>
                                        @Html.DisplayFor(modelItem => product.Description)
                                    </p>
                                    <div class="buttons-row">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            var id = ("quantity" + product.Id);
                                            <div class="input-group">
                                                @*<label class="input-group-addon">#</label>*@
                                                <input class="form-control" type="number" id="@id" min="1" value="1">
                                                <div class="input-group-btn">
                                                    <button id="@product.Id" class="btn btn-success add-to-cart" role="button">Add to cart </button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <hr />
            }
            else
            {
                <h6>Start buying to get some recommendations...</h6>
            }
            @{
                var products = Model.Products;
            }
            @for (var i = 0; i < products.Count; i += 4)
            {

                <div class="row">
                    @for (var j = i; j < i + 4 && j < products.Count; j++)
                    {

                        <div class="col-lg-3 inner" data-category="@Html.DisplayFor(modelItem => products[j].Category)">
                            <div class="thumbnail product inner">
                                <div class="img-wrapper">
                                    <img src="@Url.Content(products[j].ImagePath)">
                                </div>
                                <div class="caption">
                                    <div class="badge">@Html.DisplayFor(modelItem => products[j].Category)</div>
                                    <h4>
                                        <a asp-action="Details" asp-route-id="@products[j].Id">@Html.DisplayFor(modelItem => products[j].Name) <small>@Html.DisplayFor(modelItem => products[j].Price)₪</small></a>
                                    </h4>
                                    <p>
                                        @Html.DisplayFor(modelItem => products[j].Description)
                                    </p>
                                    <div class="buttons-row">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            if (User.HasClaim(ClaimTypes.Role, "Admin"))
                                            {
                                                <a asp-action="Edit" asp-route-id="@products[j].Id" class="btn btn-success" role="button">Edit</a>
                                                <a asp-action="Delete" asp-route-id="@products[j].Id" class="btn btn-danger" role="button">Delete</a>
                                            }
                                            else
                                            {
                                                var id = ("quantity" + products[j].Id);
                                                <div class="input-group">
                                                    @*<label class="input-group-addon">#</label>*@
                                                    <input class="form-control" type="number" id="@id" min="1" value="1">
                                                    <div class="input-group-btn">
                                                        <button id="@products[j].Id" class="btn btn-success add-to-cart" role="button">Add to cart </button>
                                                    </div>
                                                </div>}
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>