﻿<script>$(document).ready(function () {

        $(".cat").click(function () {
            let cat = this.dataset.category
            var products = document.getElementById("thumbnails").children;
            var isActive = $(this).data("isActive")
            if (isActive == true) {
                for (var product of products) {
                    if (product.dataset.category != cat) {
                        product.classList.remove("hide")
                    }
                }
                $(this).data("isActive", false)
            } else {
                for (var product of products) {
                    if (product.dataset.category != cat) {
                        product.classList.add("hide")
                    }
                }
                $(this).data("isActive", true)
            }
        });
    })
    </script>
<div class="thumbnail">
    <div class="caption">
        <h3>Categories</h3>
        <ul id="cats">
            @foreach (var cat in Model)
        {
            <li><a class="cat" href="#" data-category="@cat">@cat</a></li>
    }
        </ul>
    </div>
    </div>
