﻿@{
    ViewData["Title"] = "About";
}
<br />
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-9">
        <header>
            <h3>Our vision...</h3>
            <hr />
        </header>
        <p>
            We, in Super Duper Market believe that the most important thing is to bring the most fresh products every day.
            Uncompromising, ultimately offering you the best products available in the market.
        </p>
        <aside>
            <p>You can see our branches list in the Branches page in the navbar above.</p>
        </aside>
        <p>
            We see you as a person, and not as a moving wallet. Every one of our employees would be extremley ready to serve in the
            most perferct way!
            In our branches, on phone, electronically or face to face, we give you the best value, the best service, the best prices and served with love.
            Sincerely yours,
        </p>
        <p>
            SuperDuperMarket family
        </p>
    </div>
    <div class="col-md-3"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FSuper-Duper-Market-2533016136742509&width=450&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId=822548124798273" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></div>
</div>

