﻿
<h2>@ViewData["Message"]</h2>

<h3>Your Address In Google Maps</h3>
<!--The div element for the map -->
<div id="map"></div>
<script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var locations = @Html.Raw(ViewData["branches"]);
        initBranchesMap(locations);
    }
</script>