﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>

    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/supermarket1.jpeg"  class="img-responsive" />
            <div class="carousel-caption" role="option">
                <h3>
                    Super Duper Market
                </h3>
                <br />
                <h4>
                    Where you have it ALL
                </h4>
            </div>
        </div>
        <div class="item">
            <img src="~/images/supermarket2.jpeg" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Dairy - From the cow directly to you
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/supermarket3.jpeg" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Meat - Also from the cow directly to you
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/supermarket4.jpeg" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Vegies - We took it from the cow
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our vision</h2>
        <hr />
        <video style="width: 100%; height: 100%;" controls>
            <source src="~/videos/video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="col-md-4">
        <h2>Featured</h2>
        <hr />
        @await Component.InvokeAsync("FeaturedProducts")
    </div>
    <div class="col-md-4">
        <h2>Social Networks</h2>
        <hr />

        <p>Feel free to like, follow and even share us on Facebook! We would be grateful!</p>
        <br />
        <p>We post many updates about the excelent things we are doing here at SDM. We will also notify on facebook once we open new branches, add new items, edit prices and more, so stay tuned!</p>
        <canvas id="clogo" width="300x" height="100px"></canvas>
        <hr />

        <a href="https://www.facebook.com/Super-Duper-Market-2533016136742509" style="color:#3b5998">Visit us on Facebook<img src="~/images/facebook-image.png" class="img-responsive" width="30x" height="10px" align="left" hspace="10"></a>
        <br />
        <br />
        <a href="https://www.facebook.com/messages/t/2533016136742509" style="color:#3b5998">Message us on Facebook<img src="~/images/facebook-message.png" class="img-responsive" width="30x" height="10px" align="left" hspace="10"></a>

        <p><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FSuper-Duper-Market-2533016136742509&width=450&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId=822548124798273" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" align="left"></iframe></p></>
    </div>
</div>

<script>
    var canvas = $("#clogo")[0];
    var ctx = canvas.getContext("2d");

    // Create gradient
    var grd = ctx.createLinearGradient(0, 0, 300, 100);
    grd.addColorStop(0, "#eb6864");
    grd.addColorStop(0.5, "#eb6864");
    grd.addColorStop(1, "white");


    // Fill with gradient
    ctx.fillStyle = grd;
    ctx.fillRect(0, 0, 300, 100);

    ctx.font = "16px Arial";
    ctx.strokeText("Super Duper Market", 12, 52);
</script>