﻿﻿@using Microsoft.AspNetCore.Http
@using System.Security.Claims
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> @ViewData["Title"] - SuperDuperMarket</title>

        <link rel="stylesheet" href="~/lib/chartjs/dist/Chart.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/googlemaps.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/journal.bootwatch.css" />


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/jscookie/dist/js.cookie.js"></script>
        <script src="/lib/chartjs/dist/Chart.min.js"></script>
        <script src="~/lib/d3/d3.min.js"></script>
        <script src="~/lib/dimple/dimple.v2.3.0.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/googlemaps.js" asp-append-version="true"></script>
        <script src="~/js/cookies.js" asp-append-version="true"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Super Duper Market </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Branches" asp-action="">Branches</a></li>
                        <li><a asp-area="" asp-controller="Products" asp-action="">Products</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li> @Html.ActionLink("My Cart","Index","AddToCart", null, new { id= "btnCart" }) </li> 
                             @if (User.Identity.IsAuthenticated && User.HasClaim(ClaimTypes.Role, "Admin"))
                            {
                                <li> @Html.ActionLink("Orders","Index","Orders")</li>
                                <li><a asp-area="" asp-controller="Statistics" asp-action="">Statistics</a></li>
                                <li><a asp-area="" asp-controller="Login" asp-action="List">Customers</a></li>
                            } else{
                            <li> @Html.ActionLink("Orders", "Index", "Orders", new { id = User.Claims
                            .Where(c => c.Type == ClaimTypes.Sid).Select(c => c.Value).SingleOrDefault() })</li>
                            }
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.HasClaim(ClaimTypes.Role, "Admin"))
                            {
                                <li><a href="/login/details">Welcome, Admin</a></li>
                                <li class="logout">@Html.ActionLink("Logout", "Logout", "Login")</li>
                            }
                            else
                            {
                                <li><a href="/login/details">Welcome, @User.Identity.Name </a></li>
                                <li class="logout">@Html.ActionLink("Logout", "Logout", "Login")</li>
                            }
                        }
                        else
                        {
                            <li><a>Welcome, Guest </a></li>
                            <li>@Html.ActionLink("Login", "Index", "Login")</li>
                            <li>@Html.ActionLink("Register", "Register", "Login")</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        <partial name="_CookieConsentPartial" />

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2019 - SuperDuperMarket</p>
            </footer>
        </div>

        @RenderSection("Scripts", required: false)
    </body>
</html>