﻿<br />
<h1>Statistics Page</h1>
<hr />
<br />
<h2>Prices Analytics</h2>
<hr />
<div class="row">
    <div class="col-sm-4">
        <h4>Products in Categories</h4>
        <hr />
        <canvas id="myChart1" style="width:200px; height:200px"></canvas>
    </div>
    <div class="col-sm-4">
        <h4>Product Prices</h4>
        <hr />
        <canvas id="myChart2" style="width:200px; height:200px"></canvas>
    </div>
    <div class="col-sm-4">
        <h4>Category Average Prices</h4>
        <hr />
        <canvas id="myChart3" style="width:200px; height:200px"></canvas>
    </div>
</div>
<h2>Orders Analytics</h2>
<hr />
<div class="row">
    <div class="col-sm-4">
        <h4>Orders Per Product</h4>
        <hr />
        <canvas id="myChart4" style="width:200px; height:200px"></canvas>
    </div>
    <div class="col-sm-4">
        <h4>Orders Per Branch</h4>
        <hr />
        <canvas id="myChart5" style="width:200px; height:200px"></canvas>
    </div>
    <div class="col-sm-4">
        <h4>Orders Per Day</h4>
        <hr />
        <canvas id="myChart6" style="width:200px; height:200px"></canvas>
    </div>
</div>

<script>
    var color = '#eb6864aa';
    var options = {
        responsiveAnimationDuration: 2,
        legend: {
            labels: {
                display: false
            },
            display: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }],
        }
    }
    $.ajax({
        method: 'get',
        url: '/api/stats/categories',
        success: (data) => {
            console.log(data)
            var ctx = document.getElementById('myChart1').getContext('2d');
            let labels = Object.keys(data);
            let dataset = Object.values(data);
            new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        backgroundColor: color,
                        label: 'Products',
                        data: dataset,
                    }]
                },
                options
            });
        }
    })

    $.ajax({
        method: 'get',
        url: '/api/stats/prices',
        success: (data) => {
            var ctx = document.getElementById('myChart2').getContext('2d');
            console.log(data)
            let labels = Object.keys(data);
            let dataset = Object.values(data);
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        backgroundColor: color,
                        label: 'Price',
                        data: dataset,
                    }]
                },
                options
            });
        }
    })


    $.ajax({
        method: 'get',
        url: '/api/stats/categoryprices',
        success: (data) => {
            var ctx = document.getElementById('myChart3').getContext('2d');
            console.log(data)
            let labels = Object.keys(data);
            let dataset = Object.values(data);
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        backgroundColor: color,
                        label: 'Average Price',
                        data: dataset,
                    }]
                },
                options
            });
        }
    })

    $.ajax({
        method: 'get',
        url: '/api/stats/productorders',
        success: (data) => {
            var ctx = document.getElementById('myChart4').getContext('2d');
            let labels = Object.keys(data);
            let dataset = Object.values(data);
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        backgroundColor: color,
                        label: 'Orders',
                        data: dataset,
                    }]
                },
                options
            });
        }
    })
    $.ajax({
        method: 'get',
        url: '/api/stats/branchesorders',
        success: (data) => {
            var ctx = document.getElementById('myChart5').getContext('2d');
            let labels = Object.keys(data);
            labels = labels.map((v) => {
                if (v.startsWith("SuperDuperMarket "))
                    return v.substring("SuperDuperMarket ".length)
                return v
            });
            let dataset = Object.values(data);
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        backgroundColor: color,
                        label: 'Branches',
                        data: dataset,
                    }]
                },
                options
            });
        }
    })
    $.ajax({
        method: 'get',
        url: '/api/stats/ordersperday',
        success: (data) => {
            var ctx = document.getElementById('myChart6').getContext('2d');
            let labels = Object.keys(data);
            let dataset = Object.values(data);
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        backgroundColor: color,
                        label: 'Orders',
                        data: dataset,
                    }]
                },
                options
            });
        }
    })
</script>