﻿@model List<Tuple<String, int, List <Dictionary<String, String>>, string, Double, DateTime>>
<br />
<div>
    <div class="row">
        <div class="col-md-6">
            <h1>Orders</h1>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
</div>
<div>
    @if (Model.Count == 0)
    {
        <h4>No orders to show</h4>
        <a asp-controller="Orders">Show all Orders </a>
    }
    else
    { 
        <hr />
        <div class="row">
            <div class="col-md-3">
                <form asp-controller="Orders" asp-action="Index">
                    <div class="thumbnail">
                        <h4>Filter</h4>
                        <div class="input-group input-group-sm">
                            <label class="input-group-addon">Branch:</label>
                            <input type="text" class="form-control" name="SearchString">
                        </div>
                        <div class="input-group input-group-sm">
                            <label class="input-group-addon">Price:</label>
                            <input type="number" class="form-control" min="0" step="0.1" value="0" name="searchMinPrice">
                            <label class="input-group-addon">-></label>
                            <input type="number" class="form-control" min="0" step="0.1" value="0" name="searchMaxPrice">
                        </div>
                        <div class="input-group input-group-sm">
                            <label class="input-group-addon">Quantity:</label>
                            <input type="number" class="form-control" min="0" value="0" name="searchMinQuantity">
                            <label class="input-group-addon">-></label>
                            <input type="number" class="form-control" min="0" value="0" name="searchMaxQuantity">
                        </div>

                        <input type="submit" class="btn btn-primary form-control" style="height: 300%;" value="Filter" />
                    </div>
                </form>
            </div>
            <div class="col-md-9">
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <h3>Order# @item.Item2</h3>
                                <hr />
                                <dl class="dl-horizontal">
                                    <dt>Made by</dt>
                                    <dd>@item.Item1</dd>
                                    <dt>Branch </dt>
                                    <dd>@item.Item4</dd>
                                    <dt>Time</dt>
                                    <dd>@item.Item6</dd>
                                    <dt>Price </dt>
                                    <dd>@item.Item5₪</dd>
                                </dl>

                                <button class="btn btn-info form-control" type="button" data-toggle="collapse" data-target="#collapse@(item.Item2)" aria-expanded="false" aria-controls="collapse@(item.Item2)">Details</button>
                                <div class="collapse" id="collapse@(item.Item2)">
                                    <div class="card card-body ">
                                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                            <table class="table">
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Quantity</th>
                                                    <th>Price</th>
                                                </tr>
                                                @foreach (var innerItem in @item.Item3)
                                                {
                                                    <tr>
                                                        <td>
                                                            <img class="image-cart" src="@Url.Content(@innerItem.GetValueOrDefault("Image"))" />
                                                            @innerItem.GetValueOrDefault("Name")
                                                        </td>
                                                        <td>@innerItem.GetValueOrDefault("Quantity")</td>
                                                        <td>@innerItem.GetValueOrDefault("Price")₪ X @innerItem.GetValueOrDefault("Price") = @(double.Parse(innerItem.GetValueOrDefault("Price")) * int.Parse(innerItem.GetValueOrDefault("Quantity")))₪</td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
            }
</div>